
#home-sec1
    background: url(/img/header-block-bg.png)
    background-position: center center
    background-size: cover
    min-height: 885px

.title-container1
    margin-top: 35px
    h2
        color: #fff
        font-family: "Montserrat", Sans-serif
        font-size: 48px
        font-style: normal
        font-weight: bold
        line-height: 67px
        margin-top: 17px
        margin-bottom: 0px
        white-space: pre-line
        margin-left: 7px
        letter-spacing: 0px
    .text-blue
        color: #3C5EFF
    h4
        color: #fff
        font-size: 24px
        line-height: 29px
        font-family: "Montserrat", Sans-serif
        font-weight: 700
        margin-left: 7px
        margin-top: 29px
        letter-spacing: 0px
    h3
    	color: #fff
    	font-weight: bold
    	line-height: 29px
   		font-size: 24px
    	margin-left: 4px
    	margin-top: 29px
    	letter-spacing: 1.3px
    .but-teach
    	display: inline-block
   		font-family: "Open Sans", Sans-serif
   		font-size: 24px
    	font-weight: bold
    	line-height: 33px
    	background-color: #3C5EFF
    	border-radius: 60px
    	width: 380px
    	height: 70px
    	color: #fff
    	transition: 0.25s
    	margin-top: 35px
    	margin-left: 6px
    	text-align: center
    	padding-top: 20px
    	letter-spacing: 0px

#sec-teach-info
	background: url(/img/teach-prog-bg.png)
	min-height: 974px
	text-align: center
	h2
		font-family: Montserrat;
		font-style: normal
		font-weight: bold
		font-size: 36px
		line-height: 44px
		text-align: center
		padding-top: 46px
		white-space: pre-line
		padding-bottom: 10px
	a
		display: inline-block
		font-family: "Open Sans",Sans-serif
		font-size: 24px
		font-weight: 700
		line-height: 33px
		background-color: #3c5eff
		border-radius: 35px
		width: 450px
		height: 70px
		color: #fff
		-webkit-transition: .25s
		-o-transition: .25s
		transition: .25s
		margin-top: 56px
		margin-left: 6px
		text-align: center
		padding-top: 18px
		letter-spacing: -0.1px
.lett-spacing
	letter-spacing: 0.1px
.list-teach-info-box
	min-height: 467px
.text-teach-info
	font-family: Montserrat;
	font-style: normal
	font-weight: normal
	font-size: 24px
	line-height: 29px
	text-align: left
	white-space: pre-line
	padding-bottom: 30px
	padding-bottom: 2px
.pos-logo
	text-align: right
.lamp-logo
    margin-right: 20px
    margin-top: 50px

#sec-questions
	background: url(/img/img-questions.png)
	min-height: 640px
	background-size: cover
	background-position: center center
	padding-top: 69px
.container3
	text-align: center
	h2
		margin-top: 0
		color: #fff
		letter-spacing: 0.5px
		padding-bottom: 18px
.container4
	text-align: left
.questions-list-text
	color: #fff
	font-family: Montserrat;
	font-style: normal
	font-weight: normal
	font-size: 24px
	line-height: 34px
	white-space: pre-line
	letter-spacing: 0.5px

#sec-prospects
	min-height: 290px
.container5
	text-align: center
.block-prospects
	max-width: 1020px
	margin-top: 133px
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
	height: 173px
	margin-left: auto
	margin-right: auto
	margin-bottom: 140px
	h2
		padding-top: 40px
		font-family: Montserrat
		font-style: normal
		font-weight: bold
		font-size: 36px
		line-height: 44px
		margin-bottom: 20px
.text-in-pros
	font-family: Montserrat;
	font-style: normal
	font-weight: 500
	font-size: 24px
	line-height: 29px
	letter-spacing: -0.3px

#info-course-cost
	min-height: 1382px
	background: url(/img/info-course-cost-bg.png)
	text-align: center
	.container
		padding-left: 0
		padding-right: 0
	.head-title
		font-family: Montserrat
		font-style: normal
		font-weight: bold
		font-size: 36px
		line-height: 44px
		margin-top: 71px
		max-width: 850px
		margin-right: auto
		margin-left: auto
	.timetable
		font-family: Montserrat
		font-style: normal
		font-weight: bold
		font-size: 36px
		line-height: 44px
		padding-top: 85px
	h3
		font-family: Montserrat
		font-style: normal
		font-weight: normal
		font-size: 24px
		line-height: 29px
		white-space: pre-line
		padding-top: 10px
		letter-spacing: -0.1px
		margin-bottom: 41px
.age-info-box1
	text-align: left
	min-height: 200px
	font-family: Montserrat;
	font-style: normal
	font-weight: 500
	font-size: 20px
	line-height: 24px
	.text-blue-age
		font-family: Montserrat;
		font-style: normal
		font-weight: 500
		font-size: 64px
		line-height: 78px
		color: #3C5EFF
.age-info-title
	margin-top: 8px
	margin-bottom: -13px

.age-info-text
	white-space: pre-line
.record-card
	width: 340px
	min-height: 414px
	background: #fff
	text-align: center
	margin-left: auto
	margin-right: auto
	p
		white-space: pre-line
		font-family: Montserrat;
		font-style: normal
		font-weight: normal
		font-size: 18px
		line-height: 22px
		margin-bottom: 20px
	.head-title-box
		background: #3C5EFF
		height: 91px
		margin-bottom: 20px
		h2
			font-family: Montserrat;
			font-style: normal
			font-weight: bold
			font-size: 24px
			line-height: 29px
			color: #fff
			margin-top: 0
			position: relative
			padding-top: 20px
			margin-bottom: 0px
		h4
			font-family: Montserrat
			font-style: normal
			font-weight: normal
			font-size: 18px
			line-height: 22px
			color: #fff
			position: relative
			margin-top: 10px
	a
		display: inline-block
		font-family: Montserrat;
		font-style: normal
		font-weight: bold
		font-size: 24px
		line-height: 29px
		background-color: #3c5eff
		border-radius: 35px
		width: 250px
		height: 50px
		color: #fff
		-webkit-transition: .25s
		-o-transition: .25s
		transition: .25s
		margin-top: 12px
		margin-left: 6px
		text-align: center
		padding-top: 10px
		letter-spacing: -0.1px
		margin-top: 0
		margin-bottom: 19px
	.padd
		margin-top: 30px
.info-text-bottom
	white-space: pre-line
	font-family: Montserrat
	font-style: normal
	font-weight: normal
	font-size: 18px
	line-height: 22px


#sec-slider-reviews
	min-height: 1010px
	background: #fff
	text-align: center
	.container
		padding-right: 0
		padding-left: 0
	.sign
		display: inline-block
		font-family: Montserrat;
		font-style: normal
		font-weight: bold
		font-size: 24px
		line-height: 29px
		background-color: #3c5eff
		border-radius: 35px
		width: 250px
		height: 50px
		color: #fff
		-webkit-transition: .25s
		-o-transition: .25s
		transition: .25s
		margin-top: 12px
		margin-left: 6px
		text-align: center
		padding-top: 10px
		letter-spacing: -0.1px
		margin-top: 0
		margin-bottom: 19px
.reviews-title
	font-family: Montserrat
	font-weight: bold
	font-size: 36px
	line-height: 44px
	white-space: pre-line
	margin-top: 70px
	letter-spacing: -0.4px
.review-content-text
	font-family: Montserrat;
	font-weight: 500
	font-size: 18px
	line-height: 22px
	text-align: left
	max-width: 810px
	margin-left: 71px
	margin-top: 10px
	padding-bottom: 110px
.img-client
	margin-left: 95px
	margin-top: 14px
.client-name
	font-family: Montserrat
	font-weight: normal
	font-size: 18px
	line-height: 22px
.box-client-name
	min-height: 130px
.slick-prev, .slick-next
	top: 81px
.slick-next
	right: 8px
.slick-prev
	left: 16px
.slick-prev:before
	content: ''
	background: url(/img/prev-arrow.png)
	min-height: 30px
	max-width: 17px
	display: block
.slick-next:before
	content: ''
	background: url(/img/next-arrow.png)
	min-height: 30px
	max-width: 17px
	display: block
.image-facebook
	margin-top: 10px
.button-facebook
	display: inline-block
	font-family: Montserrat;
	font-style: normal
	font-weight: bold
	font-size: 24px
	line-height: 29px
	background-color: #3c5eff
	border-radius: 35px
	width: 450px
	height: 70px
	color: #fff
	-webkit-transition: .25s
	-o-transition: .25s
	transition: .25s
	margin-top: 12px
	margin-left: 6px
	text-align: center
	padding-top: 21px
	letter-spacing: -0.5px
	margin-top: 60px
	margin-bottom: 19px

#callback-sec
	h2.custom-h2
		text-transform: none
		margin-top: 48px
	h4.custom-h4
		margin-top: -3px
div:focus
	outline: none

@media (min-width: 1200px)
	.client-name
		margin-left: 14px
		margin-top: 16px
		position: relative
		right: -50px



































