
#home-sec1
    background: url(/img/header-block-bg.png)
    background-position: center center
    background-size: cover
    min-height: 885px

.title-container1
    margin-top: 35px
    h2
        color: #fff
        font-family: "Montserrat", Sans-serif
        font-size: 48px
        font-style: normal
        font-weight: bold
        line-height: 67px
        margin-top: 17px
        margin-bottom: 0px
        white-space: pre-line
        margin-left: 7px
        letter-spacing: 0px
    .text-blue
        color: #3C5EFF
    h4
        color: #fff
        font-size: 24px
        line-height: 29px
        font-family: "Montserrat", Sans-serif
        font-weight: 700
        margin-left: 7px
        margin-top: 29px
        letter-spacing: 0px
    h3
    	color: #fff
    	font-weight: bold
    	line-height: 29px
   		font-size: 24px
    	margin-left: 4px
    	margin-top: 29px
    	letter-spacing: 1.3px
    .but-teach
    	display: inline-block
   		font-family: "Open Sans", Sans-serif
   		font-size: 24px
    	font-weight: bold
    	line-height: 33px
    	background-color: #3C5EFF
    	border-radius: 60px
    	width: 380px
    	height: 70px
    	color: #fff
    	transition: 0.25s
    	margin-top: 35px
    	margin-left: 6px
    	text-align: center
    	padding-top: 20px
    	letter-spacing: 0px

#sec-teach-info
	background: url(/img/teach-prog-bg.png)
	min-height: 974px
	text-align: center
	h2
		font-family: Montserrat;
		font-style: normal
		font-weight: bold
		font-size: 36px
		line-height: 44px
		text-align: center
		padding-top: 46px
		white-space: pre-line
		padding-bottom: 10px
	a
		display: inline-block
		font-family: "Open Sans",Sans-serif
		font-size: 24px
		font-weight: 700
		line-height: 33px
		background-color: #3c5eff
		border-radius: 35px
		width: 450px
		height: 70px
		color: #fff
		-webkit-transition: .25s
		-o-transition: .25s
		transition: .25s
		margin-top: 56px
		margin-left: 6px
		text-align: center
		padding-top: 18px
		letter-spacing: -0.1px
.lett-spacing
	letter-spacing: 0.1px
.list-teach-info-box
	min-height: 467px
.text-teach-info
	font-family: Montserrat;
	font-style: normal
	font-weight: normal
	font-size: 24px
	line-height: 29px
	text-align: left
	white-space: pre-line
	padding-bottom: 30px
	padding-bottom: 2px
.pos-logo
	text-align: right
.lamp-logo
    margin-right: 20px
    margin-top: 50px

#sec-questions
	background: url(/img/img-questions.png)
	min-height: 640px
	background-size: cover
	background-position: center center
	padding-top: 69px
.container3
	text-align: center
	h2
		margin-top: 0
		color: #fff
		letter-spacing: 0.5px
		padding-bottom: 18px
.container4
	text-align: left
.questions-list-text
	color: #fff
	font-family: Montserrat;
	font-style: normal
	font-weight: normal
	font-size: 24px
	line-height: 34px
	white-space: pre-line
	letter-spacing: 0.5px

#sec-prospects
	min-height: 290px
.container5
	text-align: center
.block-prospects
	max-width: 1020px
	margin-top: 133px
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
	height: 173px
	margin-left: auto
	margin-right: auto
	margin-bottom: 140px
	.text-blue1
			color: #3c5eff
			padding-top: 40px
			font-family: Montserrat
			font-style: normal
			font-weight: bold
			font-size: 36px
			line-height: 100px
			margin-bottom: 20px
.text-in-pros
	font-family: Montserrat;
	font-style: normal
	font-weight: 500
	font-size: 24px
	line-height: 10px
	letter-spacing: -0.3px

#info-course-cost
	min-height: 1382px
	background: url(/img/info-course-cost-bg.png)
	text-align: center
	.container
		padding-left: 0
		padding-right: 0
	.head-title
		font-family: Montserrat
		font-style: normal
		font-weight: bold
		font-size: 36px
		line-height: 44px
		margin-top: 71px
		max-width: 850px
		margin-right: auto
		margin-left: auto
	.timetable
		font-family: Montserrat
		font-style: normal
		font-weight: bold
		font-size: 36px
		line-height: 44px
		padding-top: 85px
	h3
		font-family: Montserrat
		font-style: normal
		font-weight: normal
		font-size: 24px
		line-height: 29px
		white-space: pre-line
		padding-top: 10px
		letter-spacing: -0.1px
		margin-bottom: 41px
.age-info-box1
	text-align: left
	min-height: 200px
	font-family: Montserrat;
	font-style: normal
	font-weight: 500
	font-size: 20px
	line-height: 24px
	.text-blue-age
		font-family: Montserrat;
		font-style: normal
		font-weight: 500
		font-size: 64px
		line-height: 78px
		color: #3C5EFF
.age-info-title
	margin-top: 8px
	margin-bottom: -13px

.age-info-text
	white-space: pre-line
.record-card
	max-width: 340px
	min-height: 414px
	background: #fff
	text-align: center
	margin-left: auto
	margin-right: auto
	p
		white-space: pre-line
		font-family: Montserrat;
		font-style: normal
		font-weight: normal
		font-size: 18px
		line-height: 22px
		margin-bottom: 20px
	.head-title-box
		background: #3C5EFF
		height: 91px
		margin-bottom: 20px
		h2
			font-family: Montserrat;
			font-style: normal
			font-weight: bold
			font-size: 24px
			line-height: 29px
			color: #fff
			margin-top: 0
			position: relative
			padding-top: 20px
			margin-bottom: 0px
		h4
			font-family: Montserrat
			font-style: normal
			font-weight: normal
			font-size: 18px
			line-height: 22px
			color: #fff
			position: relative
			margin-top: 10px
	a
		display: inline-block
		font-family: Montserrat;
		font-style: normal
		font-weight: bold
		font-size: 24px
		line-height: 29px
		background-color: #3c5eff
		border-radius: 35px
		width: 250px
		height: 50px
		color: #fff
		-webkit-transition: .25s
		-o-transition: .25s
		transition: .25s
		margin-top: 12px
		margin-left: 6px
		text-align: center
		padding-top: 10px
		letter-spacing: -0.1px
		margin-top: 0
		margin-bottom: 19px
	.padd
		margin-top: 30px
.info-text-bottom
	white-space: pre-line
	font-family: Montserrat
	font-style: normal
	font-weight: normal
	font-size: 18px
	line-height: 22px


#sec-slider-reviews
	min-height: 1010px
	background: #fff
	text-align: center
	.container
		padding-right: 0
		padding-left: 0
	.sign
		display: inline-block
		font-family: Montserrat;
		font-style: normal
		font-weight: bold
		font-size: 24px
		line-height: 29px
		background-color: #3c5eff
		border-radius: 35px
		width: 250px
		height: 50px
		color: #fff
		-webkit-transition: .25s
		-o-transition: .25s
		transition: .25s
		margin-top: 12px
		margin-left: 6px
		text-align: center
		padding-top: 10px
		letter-spacing: -0.1px
		margin-top: 0
		margin-bottom: 19px
.reviews-title
	font-family: Montserrat
	font-weight: bold
	font-size: 36px
	line-height: 44px
	white-space: pre-line
	margin-top: 70px
	letter-spacing: -0.4px
.review-content-text
	font-family: Montserrat;
	font-weight: 500
	font-size: 18px
	line-height: 22px
	text-align: left
	max-width: 810px
	margin-left: 71px
	margin-top: 10px
	padding-bottom: 110px
.img-client
	margin-left: 95px
	margin-top: 14px
.client-name
	font-family: Montserrat
	font-weight: normal
	font-size: 18px
	line-height: 22px
.box-client-name
	min-height: 130px
.slick-prev, .slick-next
	top: 81px
.slick-next
	right: 8px
.slick-prev
	left: 16px
	z-index: 2
.slick-prev:before
	content: ''
	background: url(/img/prev-arrow.png)
	min-height: 30px
	max-width: 17px
	display: block
.slick-next:before
	content: ''
	background: url(/img/next-arrow.png)
	min-height: 30px
	max-width: 17px
	display: block
.image-facebook
	margin-top: 10px
.button-facebook
	display: inline-block
	font-family: Montserrat;
	font-style: normal
	font-weight: bold
	font-size: 24px
	line-height: 29px
	background-color: #3c5eff
	border-radius: 35px
	width: 450px
	height: 70px
	color: #fff
	-webkit-transition: .25s
	-o-transition: .25s
	transition: .25s
	margin-top: 12px
	margin-left: 6px
	text-align: center
	padding-top: 21px
	letter-spacing: -0.5px
	margin-top: 60px
	margin-bottom: 19px

#callback-sec.callback-sec-custom
	min-height: 422px
	h2.custom-h2
		text-transform: none
		margin-top: 48px
	h4.custom-h4
		margin-top: -3px
div:focus
	outline: none
section
	max-width: 100vw
	overflow-x: hidden




@media (max-width: 1200px)
	#home-sec1
		background-position: -10px 90px
		background-size: cover
		background-repeat: no-repeat
		background-color: #011142
		min-height: 755px
	.title-container1
		h2
			font-size: 40px
		.but-teach
			margin-bottom: 50px
	#sec-teach-info
		a
			margin-bottom: 40px
	.padd-col
		padding-left: 0
	.client-name
		margin-left: 60px
		margin-top: 10px
	.img-client
		margin-left: 60px
	.review-content-text
		margin-left: 30px
		max-width: 760px
	.image-facebook
		max-width: 230px
	#callback-sec.callback-sec-custom
		h2.custom-h2
			margin-top: 15px
			font-size: 34px

@media (max-width: 1000px)
	#sec-teach-info
		h2
			font-size: 31px
			white-space: inherit
	.container3
		h2
			font-size: 31px
	#info-course-cost
		.head-title
			font-size: 32px
			margin-right: 15px
			margin-left: 15px
			margin-top: 20px
		.timetable
			font-size: 32px
			margin-right: 15px
			margin-left: 15px
	.age-info-box1
		font-size: 16px
		line-height: 21px
		.text-blue-age
			font-size: 54px
	.block-prospects
		.text-blue1
			font-size: 30px
			line-height: 85px
	.text-in-pros
		font-size: 18px
	.reviews-title
		font-size: 31px
		margin-top: 40px

@media (max-width: 992px)
	.record-card
		margin-top: 40px
	.info-text-bottom
		font-size: 16px
		line-height: 18px
	.img-client
		margin-left: auto
		margin-right: auto
	.client-name
		margin-left: auto
		margin-right: auto
	.review-content-text
		font-size: 16px
		padding-bottom: 60px
	#sec-slider-reviews
		.join-facebook
			font-size: 34px
	.image-facebook
		max-width: 280px
		padding-bottom: 20px
	.button-facebook
		font-size: 22px
		width: 410px
		height: 65px
		padding-top: 18px
	#callback-sec.callback-sec-custom
		h2.custom-h2
			margin-top: 10px
			font-size: 31px
		h4.custom-h4
			font-size: 22px


@media (max-width: 900px)
	#home-sec1
		background-position: -10px 90px
	.title-container1
		.but-teach
			width: 360px
			height: 65px
			padding-top: 15px
	.text-teach-info
		font-size: 21px
		padding-bottom: 12px
	#sec-teach-info
		a
			width: 430px
			height: 65px
			padding-top: 15px
			font-size: 23px


@media (max-width: 810px)
	#home-sec1
		min-height: 745px
		background-position: -130px 90px
	.title-container1
		h2
			font-size: 38px
			line-height: 57px
	#sec-teach-info
		h2
			font-size: 27px
			line-height: 42px
	#sec-questions
		padding-top: 30px
	.container3
		h2
			font-size: 27px
	.questions-list-text
		font-size: 20px
		line-height: 35px
		padding-left: 25px
	#sec-questions
		background-position: -630px 0px
	.block-prospects
		height: 145px
		.text-blue1
			line-height: 74px
	.text-in-pros
		font-size: 19px
		line-height: 0px
	#info-course-cost
		.head-title
			font-size: 27px
		.timetable
			font-size: 27px
	#info-course-cost
		h3
			font-size: 20px
			padding-top: 0
			margin-bottom: 20px
	.record-card
		a
			font-size: 21px
			width: 230px
			height: 45px
			padding-top: 6px
		p
			font-size: 16px
		.head-title-box
			h2
				font-size: 22px
			h4
				font-size: 16px
	.reviews-title
		font-size: 27px
		line-height: 37px
	.slick-next
		right: 20px
	.slick-prev
		left: 33px

@media (max-width: 768px)
	.age-info-box1
		margin-left: auto
		margin-right: auto
		max-width: 350px
		text-align: center
		font-size: 18px
		padding-bottom: 30px
		.age-info-text
			white-space: inherit
			margin-top: 8px
	#info-course-cost
		.timetable
			padding-top: 25px
			margin-bottom: 0
	.review-content-text
		font-size: 14px
		margin-left: auto
		margin-right: auto
		max-width: 640px
		padding-right: 30px
		padding-left: 50px
	.slick-next
		right: 50px
	.slick-prev
		left: 53px
	.review-content-text
		padding-bottom: 50px
	#sec-slider-reviews
		.join-facebook
			font-size: 30px
	#callback-sec.callback-sec-custom
		h2.custom-h2
			font-size: 28px
			line-height: 42px
	.callback-sec-custom 
		h4.custom-h4
			font-size: 19px


@media (max-width: 700px)
	.text-in-pros
		font-size: 17px	

@media (max-width: 620px)
	#home-sec1
		min-height: 665px
		background-position: -110px 80px
	.title-container1
		h2
			font-size: 32px
			line-height: 51px
			white-space: inherit
		.but-teach
			font-size: 21px
			width: 340px
			height: 58px
			padding-top: 12px
	.questions-list-text
		font-size: 17px
		line-height: 32px
	#sec-teach-info
		h2
			font-size: 23px
			line-height: 39px
		a
			width: 370px
			height: 60px
			padding-top: 13px
			font-size: 20px

	.text-teach-info
		font-size: 18px
		padding-bottom: 15px
		line-height: 24px
	.lamp-logo
		margin-top: 55px
	.container3
		h2
			font-size: 23px
	#sec-questions
		min-height: 580px
		background-position: -620px 0px
	.block-prospects
		margin-bottom: 90px
		margin-top: 90px
		.text-blue1
			font-size: 27px
	.text-in-pros
		font-size: 15px
		letter-spacing: 0.1px
	#info-course-cost
		.head-title
			font-size: 24px
			line-height: 32px
	.age-info-box1
		font-size: 15px
		.text-blue-age
			font-size: 47px
	#info-course-cost
		h3
			font-size: 17px
			line-height: 25px
			margin-left: 10px
			margin-right: 10px
	.record-card
		max-width: 300px
		min-height: 395px
		a
			font-size: 19px
			width: 210px
			height: 40px
			padding-top: 4px
		p
			font-size: 15px
			line-height: 19px
		.head-title-box
			h2
				font-size: 20px
			h4
				font-size: 14px
	.info-text-bottom
		font-size: 14px
		line-height: 14px
		margin-left: 20px
		margin-right: 20px
	.reviews-title
		font-size: 23px
		line-height: 33px
		margin-top: 20px
		margin-right: 10px
		margin-left: 10px
	#sec-slider-reviews
		.join-facebook
			padding-left: 15px
			padding-right: 15px
			font-size: 26px
	.image-facebook
		width: 240px
	.button-facebook
		font-size: 18px
		width: 340px
		height: 58px
		padding-top: 15px
		margin-left: 0
	#callback-sec.callback-sec-custom
		h2.custom-h2
			font-size: 24px
			line-height: 38px
			margin-top: 0px
			padding-right: 20px
			padding-left: 20px
	.callback-sec-custom 
		h4.custom-h4
			font-size: 16px

@media (max-width: 570px)
	#sec-prospects
		min-height: 250px
	.text-in-pros
		font-size: 10px
		.text-blue1
			line-height: 37px
	.block-prospects
		margin-bottom: 50px
		margin-top: 67px
		height: 105px
	#info-course-cost
		.timetable
			padding-top: 20px
	.age-info-box1
		min-height: 140px
	#info-course-cost
		h3
			font-size: 14px
			line-height: 22px
	.client-name
		font-size: 16px	
	.review-content-text
		padding-bottom: 20px
	#callback-sec.callback-sec-custom
		h2.custom-h2
			font-size: 19px
			line-height: 34px	


@media (max-width: 414px)
	#home-sec1
		.but-teach
			font-size: 19px
			width: 310px
			height: 52px
			padding-top: 10px
			margin-left: 0
			position: relative
			left: 50%
			transform: translate(-50%, 0)
	.questions-list-text
		font-size: 14px
	.title-container1
		h2
			font-size: 28px
			line-height: 50px
			margin-top: 0
	#sec-teach-info
		h2
			font-size: 19px
			line-height: 33px
		a
			width: 320px
			height: 55px
			padding-top: 11px
			font-size: 17px
			margin-left: 0
	.text-teach-info
		font-size: 15px
		line-height: 20px
	#sec-questions
		min-height: 580px
		background-position: -630px 0px
	.container3
		h2
			font-size: 20px
			line-height: 29px
	#sec-prospects
		min-height: 220px
	.block-prospects
		margin-top: 54px
		.text-blue1
			font-size: 20px
	.text-in-pros
		font-size: 7px
	#info-course-cost
		.head-title
			font-size: 19px
		.timetable
			font-size: 23px
	.age-info-box1
		font-size: 12px
		.text-blue-age
			font-size: 40px
	.age-info-box1
		max-width: 280px
		padding-bottom: 0
	.record-card
		max-width: 270px
		min-height: 350px
		a
			font-size: 16px
			width: 190px
			height: 35px
			padding-top: 2px
		p
			font-size: 13px
			line-height: 15px
		.head-title-box
			h2
				font-size: 17px
			h4
				font-size: 12px
	.info-text-bottom
		font-size: 11px
		line-height: 12px
	.reviews-title
		font-size: 17px
		line-height: 26px
		margin-top: 20px
		margin-right: 20px
		margin-left: 20px
	.review-content-text
		line-height: 18px
		padding-left: 52px
		font-size: 12px	
	.slick-prev
		left: 32px
	.slick-next
		right: 30px
	.review-content-text
		padding-bottom: 30px
	#sec-slider-reviews
		.join-facebook
			font-size: 22px
			line-height: 27px
	.image-facebook
		width: 200px
	.button-facebook
		font-size: 16px
		width: 285px
		height: 50px
		padding-top: 10px
	#callback-sec.callback-sec-custom
		h2.custom-h2
			font-size: 16px
			line-height: 32px

@media (max-width: 370px)
	#home-sec1
		.but-teach
			font-size: 17px
			width: 270px
			height: 45px
			padding-top: 5px
	#sec-teach-info
		a
			width: 320px
			height: 55px
			padding-top: 11px
			font-size: 17px
			margin-top: 30px
	.container3
		h2
			font-size: 16px
			line-height: 26px
	.age-info-box1
		font-size: 9px
		.text-blue-age
			font-size: 35px

@media (max-width: 350px)
	#sec-teach-info
		a
			width: 290px
			height: 50px
			padding-top: 9px
			font-size: 16px
			margin-left: 0
	.age-info-box1
		max-width: 240px
	#sec-slider-reviews
		.join-facebook
			font-size: 17px
	#callback-sec.callback-sec-custom
		h2.custom-h2
			font-size: 14px
			line-height: 29px

@media (min-width: 1200px)
	.client-name
		margin-left: 14px
		margin-top: 16px
		position: relative
		right: -50px



































