@import "fonts"
@import "libs"
@import "vars"
@import "custom"

@media (min-width: 1250px)
    .container
        width: 1180px
    .container1
        width: 1220px
    .container2
        min-width: 1200px
        .row > div
            padding-left: 10px
            padding-right: 10px
    .image-container
        width: 1240px

html
    overflow-x: hidden

.modal-callback
    width: 100vw
    height: 100vh
    position: fixed
    top: 0
    left: 0
    z-index: 10
    display: none

.modal-overflow
    background: rgba(0, 0, 0, 0.5)
    width: 100%
    height: 100%
    position: absolute

.modal-content
    margin-top: 20px
    max-width: 580px
    min-height: 440px
    background: #E9EBF4
    text-align: center
    position: relative
    z-index: 10
    margin-left: auto
    margin-right: auto
    padding-top: 4px
    padding-left: 20px
    padding-right: 20px
    h3
        color: #3C5EFF
        font-weight: bold
        font-size: 36px
        font-family: "Montserrat"
        margin-top: 20px
        margin-bottom: 20px
    h4
        font-size: 24px
        color: #000000
        font-weight: 200
        font-family: "Montserrat"
        margin-top: 20px
        margin-bottom: 20px
    input
        width: 100%
        max-width: 292px
        height: 40px
    input[type="text"]
        margin-top: 5px
        margin-bottom: 5px
        border-radius: 5px
        font-size: 18px
        padding-left: 10px
        border: 1px solid #3C5EFF
    input[type="submit"]
        border: 1px solid #3C5EFF
        background: #3C5EFF
        color: #fff
        border-radius: 5px
        font-size: 18px
        margin-top: 5px
    .policy
        font-size: 18px
        font-family: "Montserrat"
        white-space: pre-line
        a
            text-decoration: underline
    .modal-close
        position: absolute
        right: 10px
        top: 10px
        cursor: pointer

#home-sec
    background: url(/img/home-bg.png)
    background-position: center center
    background-size: cover
    min-height: 877px

.header
    min-height: 93px
    padding: 10px
    li
        display: inline-block
        list-style: none
        a
            color: #fff
            padding: 13px 20px
            padding-left: 7px
            padding-right: 29.1px
            font-size: 14px
            font-weight: normal
            font-family: "Montserrat", Sans-serif
            line-height: 17px
            transition: 0.25s
            border-bottom: 3px solid transparent
        a:hover
            text-decoration: none
            border-bottom: 3px solid #3C5EFF
    ul.topmenu
        padding-left: 0
        padding-top: 10px
        padding-bottom: 10px

.contact-sec
    display: flex
    padding-top: 18px
    padding-bottom: 10px
    padding-left: 150px
    padding-right: 20px

.header-contact-text
    color: #FFFFFF
    font-family: "Montserrat", Sans-serif
    font-size: 14px
    font-weight: 400
    line-height: 17px

.header-contact-icon
    margin-right: 15px

.callback-sec
    padding-left: 0px
    padding-right: 0px
    position: relative
    left: -23px
    padding-top: 11px
    a
        min-width: 210px
        display: inline-block
        color: #FFFFFF
        letter-spacing: 0.2px
        font-size: 22px
        font-family: "Montserrat", Sans-serif
        font-weight: 600
        text-decoration: none
    .callback-open
        color: #4169e1
        font-size: 15px
        text-decoration: underline
        font-weight: 300
        min-width: 220px

.title-container
    margin-top: 8px
    h2
        color: #fff
        font-family: "Montserrat", Sans-serif
        font-size: 48px
        font-style: normal
        font-weight: bold
        line-height: 59px
        margin-top: 13px
        margin-bottom: 0px
        white-space: pre-line
        margin-left: 7px
        letter-spacing: 0px
    .text-blue
        color: #3C5EFF
    h4
        color: #fff
        font-size: 24px
        line-height: 29px
        font-family: "Montserrat", Sans-serif
        font-weight: 700
        margin-left: 7px
        margin-top: 29px
        letter-spacing: 0px
    h3
        color: #fff
        font-weight: bold
        line-height: 29px
        font-size: 24px
        font-family: "Montserrat", Sans-serif
        margin-left: 6px
        margin-top: 40px
        letter-spacing: 0px
    a
        display: inline-block
        font-family: "Open Sans", Sans-serif
        font-size: 24px
        font-weight: bold
        line-height: 32px
        background-color: #3C5EFF
        border-radius: 60px
        width: 380px
        height: 70px
        color: #fff
        transition: 0.25s
        margin-top: 36px
        margin-left: 6px
        text-align: center
        padding-top: 20px
        letter-spacing: 0.7px
    a:hover
        /*transform: scale(1.1)*/
        text-decoration: none


.text-blue
    color: #3C5EFF

.answ1
    position: absolute
    left: 51px
    top: 36px

#what-sec
    overflow: visible
    h2
        white-space: pre-line
        text-align: center
        font-family: "Montserrat"
        font-weight: 800
        font-size: 36px
        line-height: 44px
        color: #000
        letter-spacing: -0.8px
        margin-bottom: 40px
    .what-container
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
        background: #fff
        text-align: center
        position: relative
        top: -70px
        padding-top: 20px
        padding-left: 190px
        padding-right: 190px
        padding-bottom: 17px
    p
        font-size: 24px
        line-height: 29px
        font-weight: normal
        font-family: "Montserrat"
        color: #000
        margin-bottom: 29px

#result
    margin-top: 70px
    h2
        text-align: center
        white-space: pre-line
        font-size: 36px
        font-weight: bold
        font-family: "Montserrat"
        line-height: 44px
        color: #000000
        padding-left: 6px

.result-text
    p
        font-size: 24px
        line-height: 34px
        font-family: "Montserrat"
        font-weight: normal
        white-space: pre-line
        color: #000
        margin-top: 11px
        margin-left: -3px

#result
    img
        margin-left: 66px

h2
    font-size: 36px
    line-height: 44px
    color: #000000
    font-family: "Montserrat"
    font-weight: bold

#pass
    background: #E9EBF4
    padding-top: 39px
    text-align: center
    padding-bottom: 69px
    h2
        text-align: center
    h3
        font-size: 24px
        font-weight: normal
        line-height: 29px
        text-align: center
        color: #000000
        font-family: "Montserrat"
        white-space: pre-line
        margin-top: 30px
        margin-left: 2px
        letter-spacing: 0px
    a
        display: inline-block
        font-family: "Open Sans",Sans-serif
        font-size: 24px
        font-weight: 700
        line-height: 32px
        background-color: #3c5eff
        border-radius: 60px
        width: 480px
        height: 70px
        color: #fff
        -webkit-transition: .25s
        -o-transition: .25s
        transition: .25s
        margin-top: 6px
        margin-left: auto
        margin-right: auto
        text-align: center
        padding-top: 20px
        letter-spacing: .7px

.pass-img
    text-align: center

.pass-card
    background: #FFFFFF
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
    min-height: 400px
    margin-top: 10px
    margin-bottom: 10px
    padding-top: 25px
    p
        font-size: 18px
        font-weight: normal
        font-family: "Montserrat"
        text-align: center
        letter-spacing: -0.1px
        color: #000
    .pass-img
        margin-bottom: 26px

#for
    padding-top: 41px
    h2
        white-space: pre-line
        text-align: center
        color: #000
    h3
        font-family: "Montserrat"
        font-size: 24px
        font-weight: normal
        color: #000
        text-align: center
        padding-left: 40px
        padding-right: 40px
        white-space: pre-line
        margin-top: -23px
        letter-spacing: -0.1px
    h4
        font-family: "Montserrat"
        font-weight: bold
        font-size: 36px
        line-height: 44px
        text-align: center
        margin-top: 28px
        margin-bottom: 20px

.text-purple
    color: #9327C0

.for-card
    background: #FFFFFF
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
    width: 380px
    min-height: 453px
    margin-left: 30px
    margin-right: 30px
    text-align: center
    padding-top: 1px

.for-container
    display: flex
    justify-content: center
    margin-top: 50px

.for-card-wrapper
    text-align: center
    a
        display: inline-block
        font-family: "Open Sans",Sans-serif
        font-size: 24px
        font-weight: 700
        line-height: 32px
        background-color: #3c5eff
        border-radius: 60px
        width: 380px
        height: 70px
        color: #fff
        -webkit-transition: .25s
        -o-transition: .25s
        transition: .25s
        margin-top: 39px
        margin-left: 4px
        text-align: center
        padding-top: 20px
        letter-spacing: .7px
    .purple-but
        background: #9327C0

#author
    padding-top: 110px
    h2
        text-align: center
        color: #000
    img
        margin-top: 20px
        margin-left: 14px
    p
        font-family: "Montserrat"
        font-weight: normal
        font-size: 24px
        margin-top: 11px
        margin-bottom: 15px
        color: #000
    .text-sec
        padding-left: 0

#count-sec
    min-height: 310px
    background: url(/img/count-bg.png)
    .count
        font-family: "Montserrat"
        font-weight: 500
        font-size: 64px
        line-height: 78px
        color: #3C5EFF
        min-height: 78px
        display: inline-block
    .string
        font-family: "Montserrat"
        font-weight: 500
        font-size: 20px
        line-height: 24px
        color: #FFFFFF
        min-height: 78px
        display: inline-block
        margin-left: 10px
        white-space: pre-line
    .num-row
        margin-top: 60px

#video-sec
    padding-top: 110px
    h2
        text-align: center

.image-container
    margin-top: 60px
    > div
        position: relative

.img2
    right: 4px
    position: relative

.video-but
    position: absolute
    right: -179px
    bottom: -188px
    z-index: 10

.bottom-sec
    margin-top: 19px

#faq-sec
    > .container
        padding: 0
    h2
        text-align: center
        margin-top: 140px
        padding-left: 32px
        margin-bottom: 18px

.faq-title
    font-family: "Montserrat"
    font-style: normal
    font-weight: 600
    font-size: 24px
    line-height: 29px
    color: #000000
    cursor: pointer

.faq-card
    position: relative
    border-bottom: 2px solid #C4C4C4
    padding-bottom: 18px
    margin-top: 23px
    > img
        position: absolute
        right: 23px
        top: 0px
        cursor: pointer
        transition: 0.25s
    .faq-title
        white-space: pre-line

.faq-active
    > img
        transform: rotate(180deg)

.faq-desc
    font-size: 24px
    line-height: 142%
    font-family: "Montserrat"
    padding-top: 22px
    max-width: 900px
    margin-left: 79px

#callback-sec
    background: url(/img/callback-bg.png)
    min-height: 416px
    margin-top: 116px
    padding-top: 24px
    text-align: center
    h2
        text-align: center
        white-space: pre-line
        color: #fff
        text-transform: uppercase
    h3
        font-size: 48px
        line-height: 59px
        font-weight: bold
        font-family: "Montserrat"
        text-transform: uppercase
        margin-top: -10px
    h4
        color: #fff
        font-family: "Montserrat"
        font-weight: bold
        font-size: 24px
        line-height: 29px
        margin-top: -30px

.form-container
    padding-left: 15px
    padding-right: 15px
    margin-left: auto
    margin-right: auto
    margin-top: -12px
    input[type="text"]
        background: #fff
        min-width: 280px
        padding-top: 23px
        padding-bottom: 22px
        padding-left: 20px
        padding-right: 20px
        border-radius: 10px
        border: 0px
        margin-left: 2px
        margin-right: 14px
        font-size: 18px
        line-height: 25px
        color: #000000
    input[type="submit"]
        display: inline-block
        font-family: "Open Sans",Sans-serif
        font-size: 24px
        font-weight: 700
        line-height: 32px
        background-color: #3c5eff
        border-radius: 10px
        width: 380px
        height: 70px
        color: #fff
        transition: .25s
        margin-left: 4px
        text-align: center
        padding-top: 0px
        letter-spacing: .7px
        border: 0
        transform: translateY(2px)

.footer-sec
    width: 50%
    height: 100%

.black-bg
    background: #000

footer
    height: 668px
    display: flex

.footer-content
    max-width: 590px
    margin-left: auto
    color: #fff
    p
        font-family: "Montserrat"
        font-size: 18px
        line-height: 22px
        margin-top: 10px

#policy
    h1
        text-align: center
        font-size: 36px
        font-family: "Montserrat"
    h3
        font-size: 24px
        font-family: "Montserrat"
    p
        font-size: 18px
        white-space: pre-line

.purple-header
    background: #03111E

.footer-logo
    margin-top: 40px

.contact-p
    font-family: "Montserrat"
    font-size: 18px
    line-height: 22px
    white-space: pre-line
    padding-left: 51px
    margin-bottom: 20px
    a
        color: #fff

.copyright
    margin-bottom: 30px

.geo-icon:before
    background: url(/img/geo-footer.png)
    content: ''
    width: 30px
    height: 44px
    display: block
    position: absolute
    margin-left: -49px

.call-icon:before
    background: url(/img/call-icon.png)
    content: ''
    width: 30px
    height: 30px
    display: block
    position: absolute
    margin-left: -49px
    margin-top: 7px

.footer-content
    .social-p
        white-space: normal
        padding-left: 0
        margin-top: 26px
        a
            margin-right: 26px
        a:hover
            text-decoration: none


@media screen and (max-width: 1200px)
    .header
        li
            a
                padding-left: 10px
                padding-right: 10px
    .faq-card
        padding-right: 52px
    .contact-sec
        padding-left: 50px
        padding-right: 100px
    .callback-sec
        left: -83px
    #count-sec
        .num-row
            margin-top: 15px
    .image-container
        img
            max-width: 100%
    .video-but
        right: -139px
        bottom: -150px
        img
            max-width: 280px
    .form-container
        input[type=text]
            min-width: 260px
    .footer-content
        padding-left: 20px

@media (max-width: 992px)
    #home-sec
        background-color: #03111d
        background-size: contain
        background-repeat: no-repeat
        background-position: 60px 440px
    #what-sec
        .what-container
            padding-left: 50px
            padding-right: 50px
    .contact-sec
        padding-left: 0px
        padding-right: 90px
        margin-left: -40px
    .callback-sec
        left: -83px
    .title-container
        h2
            margin-top: -57px
    .header
        position: relative
        z-index: 10
        ul.topmenu
            padding-top: 0
            padding-bottom: 0
        li
            margin-bottom: 10px
            a
                padding-top: 0
                padding-bottom: 0
                padding-left: 15px
                padding-right: 15px
            a:hover
                border-bottom: 0
    #count-sec
        .count
            font-size: 60px
        .string
            font-size: 15px
    .footer-sec
        width: 100%
    footer
        flex-wrap: wrap
    .footer-content
        margin-left: auto
        margin-right: auto
    .video-but
        right: -109px
        bottom: -120px
        img
            max-width: 220px
    .form-container
        input[type=text]
            min-width: 0
            max-width: 180px
            padding-left: 10px
            padding-right: 10px
            padding-top: 13px
            padding-bottom: 12px
        input[type=submit]
            width: 330px
            height: 51px
            font-size: 19px
            line-height: 55px
    .faq-card
        padding-right: 56px
    .for-card
        width: 330px
    .for-card-wrapper
        a
            width: 330px
    .answ1
        opacity: 0.3

@media (max-width: 769px)
    #policy
        h1
            font-size: 20px
        h3
            font-size: 18px
            font-family: "Montserrat"
        p
            font-size: 10px
            white-space: pre-line
    .pass-card
        min-height: 220px
        padding-bottom: 10px
    .for-container
        flex-wrap: wrap
    .for-card-wrapper
        margin-top: 60px
        a
            margin-top: 20px
    #what-sec
        h2
            font-size: 26px
            line-height: 31px
            position: relative
            z-index: 3
        p
            font-size: 18px
            line-height: 24px
        .what-container
            margin-left: 15px
            margin-right: 15px
    #author
        .text-sec
            padding-left: 15px
    .video-but
        right: -14.24vw
        bottom: -89.53%
        img
            max-width: 28.65vw
    .header-contact-text
        font-size: 9px
        line-height: 12px
    .callback-sec
        padding-top: 0
        a
            font-size: 17px
        .callback-open
            font-size: 9px
    .title-container
        margin-top: 28px
    .header
        li
            margin-bottom: 0px
            a
                font-size: 10px
        ul.topmenu
            display: flex
            justify-content: center
    .title-container
        h2
            font-size: 20px
            line-height: 24px
        h3
            font-size: 18px
            margin-top: 10px
        h4
            font-size: 18px
            line-height: 22px
        a
            font-size: 15px
            line-height: 28px
            width: 240px
            height: 50px
            padding-top: 12px
            margin-top: 0px
    #home-sec
        min-height: 597px
        background-position: 110px 330px
    #what-sec
        h2
            font-size: 20px
            line-height: 25px
            margin-bottom: 10px
        p
            font-size: 10px
            line-height: 14px
            margin-bottom: 9px
    #result
        margin-top: -40px
        h2
            font-size: 20px
            line-height: 26px
        img
            max-width: 300px
    .result-text
        p
            font-size: 14px
            line-height: 20px
    h2
        font-size: 20px
        line-height: 24px
    .pass-card
        p
            font-size: 10px
    .callback-sec
        left: 0
        text-align: center
    .contact-sec
        display: none
    #pass
        h3
            font-size: 18px
            white-space: normal
        a
            font-size: 15px
            line-height: 28px
            width: 290px
            height: 50px
            padding-top: 12px
    #for
        h2
            white-space: normal
        h3
            font-size: 15px
            white-space: normal
            margin-top: 30px
        h4
            font-size: 26px
        .for-card
            min-height: 343px
            img
                max-height: 250px
        .for-card-wrapper
            a
                font-size: 15px
                width: 100%
                max-width: 330px
                height: 50px
                padding-top: 12px
    #author
        p
            font-size: 15px
        img
            max-height: 300px
    #count-sec
        .count
            width: 100%
            font-size: 40px
            min-height: 30px
            line-height: 30px
        .string
            line-height: 17px
            font-size: 10px
            min-height: 64px
    #video-sec
        padding-top: 20px
    .image-container
        margin-top: 20px
    #faq-sec
        h2
            margin-top: 40px
            padding-left: 0
    .faq-card
        .faq-title
            font-size: 12px
            line-height: 15px
            white-space: normal
            padding-left: 15px
        .faq-desc
            font-size: 10px
            margin-left: 29px
            padding-top: 12px
        > img
            max-width: 15px
    #callback-sec
        h3
            font-size: 22px
            line-height: 39px
            margin-top: -15px
        h4
            font-size: 20px
    .form-container
        input[type=text]
            margin-top: 5px
            margin-bottom: 5px
            width: 100%
            max-width: inherit
        input[type=submit]
            width: 100%
            margin-left: 0
            margin-top: 5px
    .footer-content
        p
            font-size: 15px
            line-height: 20px
    .modal-content
        h3
            font-size: 20px
        h4
            font-size: 18px
        .policy
            font-size: 11px

@media (max-width: 500px)
    #home-sec
        background-position: 50px 330px
    .pass-img
        img
            max-width: 80px
@media (max-width: 400px)
    .video-but
        bottom: -107.53%

@media (max-width: 360px)
    .header
        li
            a
                padding: 0
                margin-left: 5px
                margin-right: 5px











@import "media" // Всегда в конце
